
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-primary" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">Office Branches</a></mdb-navbar-brand>


</mdb-navbar>

<div class="d-md-flex">
  <label>Select Rent-a-Car Service &nbsp;</label>
  <div class="md-form pb-3">

    <select required [(ngModel)]="csId" (change)="getAllOffices(csId)"  name="CarServices">
      <option required name="serviceName" *ngFor="let service of listOfServices" [ngValue]="service.id">{{service.carServiceName}}</option>
    </select>
  </div>
</div>

<div class="col-5" *ngIf="show">
  <div>
    <button type="button" *ngIf="loginService.isUserADMIN() && loginService.isUserLoggedIn()" mdbBtn (click)="openModalDialog()" color="success" mdbWavesEffect>ADD</button>
  </div>
  <table class="table table-fixed table-hover">
    <thead>
    <tr>
      <th scope="col-xs-1">Address</th>




    </tr>
    </thead>
    <tbody>
    <tr *ngFor = 'let aa of offices'>
      <td>{{ aa.address }}</td>



      <td>
        <button *ngIf="loginService.isUserADMIN() && loginService.isUserLoggedIn()" (click)="deleteOffice(aa.id)" mdbBtn type="button" color="elegant" mdbWavesEffect>DELETE</button>
      </td>
      <td>
        <button type="button" *ngIf="loginService.isUserADMIN() && loginService.isUserLoggedIn()" mdbBtn (click)="get(aa.id,aa.address)" color="success" mdbWavesEffect>Change</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>



<!-- modal -->
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
  <!-- modal-dialog -->
  <div class="modal-dialog" role="document">
    <!-- modal-content -->
    <div class="modal-content">
      <!-- modal-header -->
      <div class="modal-header ">
        <p>Add Branch office</p>
        <button type="button" class="close" aria-label="Close" (click)="closeModalDialog()"><span aria-hidden="true">&times;</span></button>
        <!-- <h4 class="modal-title">Login</h4> -->
      </div>

      <!-- modal-body -->
      <div class="modal-body" >
        <form  ngNativeValidate (ngSubmit)="addOffice()">

          <div class="md-form pb-3">
            <input required type="text" class="form-control" name="address" placeholder="Address" [(ngModel)]="newOffice.address" />
          </div>

          <div>
            <button  mdbBtn gradient="blue" type="submit"   rounded="true"  class="z-depth-1a waves-light" mdbWavesEffect>Submit</button>

          </div>
        </form>
      </div>

      <!-- modal-footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="closeModalDialog()" >Close</button>
      </div>
    </div>
  </div>
</div>








<!-- modal -->
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display2}">
  <!-- modal-dialog -->
  <div class="modal-dialog" role="document">
    <!-- modal-content -->
    <div class="modal-content">
      <!-- modal-header -->
      <div class="modal-header ">
        <p>Change address</p>
        <button type="button" class="close" aria-label="Close" (click)="closeModalDialog2()"><span aria-hidden="true">&times;</span></button>
        <!-- <h4 class="modal-title">Login</h4> -->
      </div>

      <!-- modal-body -->
      <div class="modal-body" >
        <form  ngNativeValidate (ngSubmit)="update()">

          <div class="md-form pb-3">
            <input required type="text"  class="form-control" name="address"  placeholder="Address" [(ngModel)]="modifiedAddress" >
          </div>

          <div>
            <button  mdbBtn gradient="blue" type="submit"   rounded="true"  class="z-depth-1a waves-light" mdbWavesEffect>Submit</button>

          </div>
        </form>
      </div>

      <!-- modal-footer -->
      <div class="modal-footer">


        <button type="button" class="btn btn-default" (click)="closeModalDialog2()" >Close</button>
      </div>
    </div>
  </div>
</div>


