<div class="row">
  <div class="col-md-6 mx-auto my-5">
    <section class="form-elegant">
      <mdb-card>
        <mdb-card-body class="mx-4">
          <!--Header-->
          <div class="text-center">
            <h3 class="dark-grey-text mb-5">
              <strong>Sign in</strong>
            </h3>
          </div>

          <form ngNativeValidate (ngSubmit)="register()" >
            <div class="md-form pb-3">
              <input placeholder="Username" required type="text"  class="form-control"  name="username" [(ngModel)]="username">
            </div>

            <div class="md-form pb-3">
              <input placeholder="Password" required type="password" id="elegantFormPasswordEx"  class="form-control" name="pass" [(ngModel)]="password">

            </div>

            <div class="md-form pb-3">
              <input placeholder="Mail" required type="text" required class="form-control" name="mail" [(ngModel)]="email">
            </div>

            <div class="md-form pb-3">
              <input placeholder="Telephone" required type="text"  class="form-control" name="tel"  [(ngModel)]="telephone">
            </div>

            <div class="md-form pb-3">
              <input placeholder="City" required type="text"  class="form-control"  name="city" [(ngModel)]="city">
            </div>

            <div class="md-form pb-3">
              <input placeholder="Name" required type="text"  class="form-control"   name="name" [(ngModel)]="name">
            </div>

            <div class="md-form pb-3" >
              <input placeholder="Last name" required type="text"  class="form-control"  name="lastname" [(ngModel)]="lastName">
            </div>


            <!--Body-->

          <div class="text-center mb-3">
            <button type="submit" mdbBtn gradient="blue"  rounded="true" class="z-depth-1a waves-light" mdbWavesEffect>Sign in</button>
          </div>
          </form>
        </mdb-card-body>
        <!--Footer-->

      </mdb-card>

    </section>
  </div>
</div>
