<!-- <div class="col-5">
    <table class="table table-fixed table-hover">
        <thead>
          <tr>
            <th scope="col-xs-1">id</th>
            <th scope="col-1">Reserved</th>
            <th scope="col-xs-1">AirlineID</th>
            <th scope="col-1">TicketID</th>
            <th scope="col-xs-1" colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = 'let ss of listOfSeats'>
            <td>{{ ss.id }}</td>
            <td>{{ ss.reserved }}</td>
            <td>{{ ss.airlineID }}</td>
            <td>{{ ss.ticketID }}</td>
            <td><a><button class="btn btn-outline-warning"><i class="fa fa-edit"></i> Modify</button></a></td>
            <td><button type="button" class="btn btn-outline-danger"><i class="fa fa-close"></i> Delete</button></td>
          </tr>
        </tbody>
      </table>
</div> -->

<div class="container">
      <div class="btn-group col-xs-12" data-toggle="buttons" *ngFor="let item of listOfSeats" (click)="action(item)">
        <label *ngIf="!item.reserved" class="btn btn-success button_season">
            <input type="checkbox" name="season_revenue_1" id="season_revenue_1" >{{item.id}}
          </label>
          <label *ngIf="item.reserved && !item.ticketID" class="btn btn-warning button_season">{{item.id}}
          </label>
          <label *ngIf="item.reserved && item.ticketID">
              <input type="button" class="btn btn-danger button_season" name="season_revenue_1" id="season_revenue_1" value="{{item.id}}" disabled>
            </label>
      </div>
  </div>

  <button class="btn btn-info" value="next" (click)="nextFunc()" style="float: right">Next</button>

<!--    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    Sony <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">Tablet</a></li>
      <li><a href="#">Smartphone</a></li>
    </ul>-->

    