<div class="col-5">
    <table class="table table-fixed table-hover">
        <thead>
          <tr>
            <th scope="col-xs-1">id</th>
            <th scope="col-1">Reserved</th>
            <th scope="col-xs-1">AirlineID</th>
            <th scope="col-1">TicketID</th>
            <th scope="col-xs-1" colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = 'let ss of listOfSeats'>
            <td>{{ ss.id }}</td>
            <td>{{ ss.reserved }}</td>
            <td>{{ ss.airlineID }}</td>
            <td>{{ ss.ticketID }}</td>
            <td><a><button class="btn btn-outline-warning"><i class="fa fa-edit"></i> Modify</button></a></td>
            <td><button type="button" class="btn btn-outline-danger"><i class="fa fa-close"></i> Delete</button></td>
          </tr>
        </tbody>
      </table>
</div>

<div class=row>
  <div class="col-4">
  <div class="card text-right">
  <div class="card-body">
    <form exportAs="ngForm">
          <div class="form-row">
    <div class="col-8 my-1 text-right">
      <input type="checkbox" class="form-control" name = "reserved" [(ngModel)]="seat.reserved">
    </div>
    <div class="col my-1 text-right">
          <button type="submit" class="btn btn-success" (click)="onSubmit()"><i class="fa fa-plus"></i> Add type</button>
    </div>
  </div>
  </form>
  </div>
  </div></div></div>
   