<div class="container">
      <div class="btn-group col-xs-12" data-toggle="buttons" *ngFor="let item of listOfSeats" (click)="action(item)">
         <label *ngIf="!item.reserved" class="btn btn-success button_season">
            <input type="checkbox" name="season_revenue_1" id="season_revenue_1" >{{item.id}}
          </label>
          <label *ngIf="item.reserved && !item.ticketID" class="btn btn-warning button_season">{{item.id}}
          </label>
          <label *ngIf="item.reserved && item.ticketID">
              <input type="button" class="btn btn-danger button_season" name="season_revenue_1" id="season_revenue_1" value="{{item.id}}" disabled>
            </label>
      </div>
  </div>

  <button class="btn btn-info" value="next" (click)="nextFunc()" style="float: right">Next</button>

  <script>
var $mainElem = $('.btn-group .col-xs-12'),
    $parent = $mainElem.parent(),
    $items = $mainElem.children(':gt(2)').detach();

if ($items.length) {
    for (var i = 0; i < $items.length; i = i + 3) {
        var $row = $('<div class="btn-group col-xs-12">').append($items.slice(i, i + 3));
        $parent.append('<hr class="divider">').append($row);

    }
}
</script>