<!DOCTYPE html>
<div style="text-align:center">
  <nav class="navbar navbar-expand navbar-dark bg-primary">
    <ul class = "nav navbar-nav">
      <li><a class="nav-link">MegaTravel</a></li>
      <li class='nav-item dropdown'><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Plane seats</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item"></a>
        </div>
      </li>
      <li class='nav-item dropdown'><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Airline</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/airlines']" routerLinkActive="router-link-active" >Airlines</a>
            <a class="dropdown-item" [routerLink]="['/planeseats']" routerLinkActive="router-link-active" >Seats</a>
        </div>
      </li>
      <li class='nav-item'><a class="nav-link" [routerLink]="['/hotels']" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Hotel</a>
      </li>
      <li class='nav-item'><a class="nav-link" [routerLink]="['/rooms']" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Room</a>
      </li>
    </ul>


  </nav>
  <br><br>
</div>

<div style="text-align:center">
  <router-outlet></router-outlet>
</div>
