<!DOCTYPE html>

<div style="text-align:center">
  <nav class="navbar navbar-expand navbar-dark bg-primary">
    <ul class = "nav navbar-nav">
      <li><a class="nav-link">MegaTravel</a></li>
      <li class='nav-item dropdown'><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Plane seats</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item"></a>
        </div>
      </li>
      <li class='nav-item dropdown'><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Airline</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/airlines']" routerLinkActive="router-link-active" >Airlines</a>
            <a class="dropdown-item" [routerLink]="['/planeseats']" routerLinkActive="router-link-active" >Seats</a>
</div>


      <li><a *ngIf="loginService.isUserLoggedIn() && loginService.isUserUSER()"  routerLink="/userHistory" class="nav-link">Profile</a></li>


      <li><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">LogOut</a></li>
      <div *ngIf="!loginService.isUserLoggedIn()"><li><a  routerLink="/register" class="nav-link">Register</a></li></div>

          <li><a *ngIf="loginService.isUserLoggedIn() && loginService.isUserUSER()"  routerLink="/carReservation" class="nav-link">Make an reservation</a></li>
          <li><a routerLink="/cars" class="nav-link">Cars</a></li>
          <li><a routerLink="/carServices" class="nav-link">Rent A Car</a></li>
          <li><a  routerLink="/carServicePR" class="nav-link">Price List</a></li>
          <li><a   routerLink="/carServiceOffice" class="nav-link">Branch Office</a></li>




    </ul>

 <div style="margin-left: 7cm">
   <label style="margin-top: 9px;color: white;font-family: Verdana;alignment: right" id="LogLab" *ngIf="loginService.isUserLoggedIn()"> Current user : [{{loginService.getLogged()}}] &nbsp; &nbsp; </label>
   <label style="margin-top: 9px;color: white;font-family: Verdana;alignment: right" id="LogLab2" *ngIf="loginService.isUserLoggedIn()"> Role : [{{loginService.getRole()}}] </label>
 </div>
  </nav>
  <br><br>


</div>

<div style="text-align:center">
  <router-outlet></router-outlet>
</div>
