
.view {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (40).jpg")repeat center center;
    background-size: cover;
    height: 100vh;
}

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}
.intro-2 {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (40).jpg")no-repeat center center;
    background-size: cover;
}
.view {
    position: relative;
    cursor: default;
}
.view .mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}
.flex-center {
    display: flex;
    justify-content: center;
    /*ovo ispod zakom da ti bude lepa tabela*/
    /*align-items: center;*/
    height: 100%;
}
.rgba-purple-light, .rgba-purple-light:after {
    background-color: rgba(156,39,176,.3);
}

