<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <style>
  section.pricing {
}

.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .pricing .card:hover .btn {
    opacity: 1;
  }
}</style>
</head>

<body id="page-top">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-shrink" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">BIN Airlines</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item waves-light" mdbWavesEffect *ngIf="loginService.isUserLoggedIn()"><a class="nav-link"  [routerLink]="['/profile']" routerLinkActive="router-link-active" >User profile</a>

          <li class='nav-item dropdown waves-light' mdbWavesEffect><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Airline</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a *ngIf="loginService.isUserAirlineAdmin()" class="dropdown-item" [routerLink]="['/airlines']" routerLinkActive="router-link-active" >Airline profile  </a>
                <a class="dropdown-item" [routerLink]="['/flightList']" routerLinkActive="router-link-active">Flights</a>
                <a class="dropdown-item" [routerLink]="['/tickets']" routerLinkActive="router-link-active">Tickets</a> 

          </div>
          <li class='nav-item dropdown waves-light' mdbWavesEffect><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Hotel</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" [routerLink]="['/hotel']" routerLinkActive="router-link-active" >Hotel  </a>
                <a *ngIf="loginService.isUserHotelAdmin()" class="dropdown-item" [routerLink]="['/rooms']" routerLinkActive="router-link-active" >Rooms</a>

          </div>
          <li class='nav-item dropdown waves-light' mdbWavesEffect><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Rent a car</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" [routerLink]="['/carServices']" routerLinkActive="router-link-active" >Rent a car  </a>
                <a *ngIf="loginService.isUserLoggedIn() && loginService.isUserADMIN()" class="dropdown-item" [routerLink]="['/cars']" routerLinkActive="router-link-active" >Cars</a>
                <a class="dropdown-item" [routerLink]="['/carServicePR']" routerLinkActive="router-link-active">Price List</a> 
                <a *ngIf="loginService.isUserLoggedIn() && loginService.isUserUSER()" class="dropdown-item" [routerLink]="['/carReservation']" routerLinkActive="router-link-active">Make a reservation</a>
                <a class="dropdown-item" [routerLink]="['/carServiceOffice']" routerLinkActive="router-link-active">Branch Office</a>

          </div>
        <li class="nav-item waves-light" mdbWavesEffect><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
        <li class="nav-item waves-light" mdbWavesEffect><a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">LogOut</a></li>
        <div class="nav-item" *ngIf="!loginService.isUserLoggedIn()"><li><a  routerLink="/register" class="nav-link">Register</a></li></div>
      </ul>
    </div>
  </div>
</nav>



<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <router-outlet></router-outlet>
    </div>
  </div>
</header>
</body>

<div class="page-section" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Specijalna ponuda</h2>
        <h3 class="section-subheading text-muted">Karte sa popustima za brzu rezervaciju.</h3>
      </div>
    </div>
    <section class="pricing py-5">
        <div class="container">
          <div class="row">
            <!-- Free Tier -->
            <div class="col-lg-4" *ngFor="let itemX of list">
              <div class="card mb-5 mb-lg-0"  *ngIf="itemX.discount && !itemX.reservedBy">
                <div class="card-body">
                  <h5 class="card-title text-muted text-uppercase text-center">Discount</h5>
                  <h6 class="card-price text-center">20%<span class="period"></span></h6>
                  <hr>
                  <ul class="fa-ul" *ngFor="let item of list2" >
                    <li *ngIf="itemX.flight == item.id" >Date: {{item.dateAndTimeTakeOff}}</li>
                    <li *ngIf="itemX.flight == item.id" >From: {{item.fromDest}}</li>
                    <li *ngIf="itemX.flight == item.id" >To: {{item.toDest}}</li>
                    <li *ngIf="itemX.flight == item.id" >Price: {{item.ticketPrice}} €</li>
                    </ul>
                    <div style="margin-bottom: 100px"></div>
                  <a href="#" class="btn btn-block btn-primary text-uppercase" (click)="reserve(itemX)">Reserve</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    
  </div>
</div>


<!-- Portfolio Modals -->

<script>
$(document).on("click", ".portfolio-link", function () {
     var myBookId = $(this).data('id');
     $(".portfolio-modal modal fade #portfolioModal1").val( myBookId );
     // As pointed out in comments, 
     // it is unnecessary to have to manually call the modal.
     // $('#addBookDialog').modal('show');
});</script>
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Contact form JavaScript -->
<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>

<!-- Custom scripts for this template -->
<script src="js/agency.min.js"></script>




</html>
