<div class="col-5">
  <button type="button" class="btn btn-info" style="float: left;margin-top: 1.9cm;" (click)="openAddRoomModal()"><i
    class="fa fa-plus"></i>Add room
  </button>
  <br/>
  <label></label>
  <table style="width: 250%; margin-top: 2cm;margin-left: 0px;margin-right: 0px;" class="table table-fixed table-hover">
    <thead>
    <tr>
      <th scope="col-xs-1">Room number</th>
      <th scope="col-xs-1">Hotel</th>
      <th scope="col-xs-1">Room type</th>
      <th scope="col-1">Price per night <i class="fa fa-euro"></i></th>
      <th scope="col-xs-1">Floor</th>
      <th scope="col-1">Grade</th>
      <th scope="col-xs-1" colspan="2"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor='let room of listOfRooms; let reserved of listOfReservedRooms'>
      <td>{{ room.number }}</td>
      <td>{{ convertHotelIdToHotelName(room.hotelId) }}</td>
      <td>{{ convertTypeIdToTypeName(room.roomType)}}</td>
      <td *ngIf="room.newPrice==0">{{ room.pricePerNight}}</td>
      <td *ngIf="!room.newPrice==0">{{ room.newPrice}}</td>
      <td>{{room.floor}}</td>
      <td>{{ room.avgGrade}}</td>
      <td><a>
        <button *ngIf="!room.reserved" type="button" class="btn btn-info" (click)="changeRoom(room.number)">
          <i
            class="fa fa-refresh"></i>Change
        </button>
      </a></td>
      <td><a>
        <button *ngIf="!room.reserved" type="button" class="btn btn-info" (click)="removeRoom(room.number)">
          <i
            class="fa fa-remove"></i>Remove
        </button>
      </a></td>
      <td><a>
        <button type="button" class="btn btn-info" (click)="openSaleModal(room.number,room.hotelId)"><i
          class="fa fa-plus"></i>Add new price
        </button>
      </a></td>
    </tr>
    </tbody>
  </table>
</div>


<div class="modal" [ngStyle]="{'display':displayChange}" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color: rgb(122, 154, 198)">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeChangeRoomModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form ngNativeValidate>
        <div class="modal-body">
          <div class="form-group">
            <label style="text-align: left">Hotel <i class="fa fa-building-o"></i></label>
            <select style="background-color: rgb(193, 212, 224)" class="form-control" name="tipH"
                    [(ngModel)]="changedRoom.hotelId" required>
              <option style="background-color: rgb(193, 212, 224)" *ngFor="let hotel of listOfHotels;"
                      [selected]=" hotel.hotel_id == changedRoom.hotelId ? true : false"
                      [ngValue]="hotel.hotel_id">{{ hotel.name }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label style="text-align: left">Room type <i class="fa fa-bed"></i></label>
            <select class="form-control" style="background-color: rgb(193, 212, 224)" name="tipS"
                    [(ngModel)]="changedRoom.roomType" required>
              <option style="background-color: rgb(193, 212, 224)" *ngFor="let type of listOfTypes;"
                      [selected]=" type.id == changedRoom.roomType ? true : false"
                      [ngValue]="type.id">{{ type.name }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label>Price per night <i class="fa fa-euro"></i></label>
            <input style="background-color: rgb(193, 212, 224)" type="number" min="1" class="form-control"
                   [(ngModel)]="changedRoom.pricePerNight"
                   [ngModelOptions]="{standalone: true}" (keypress)="numberOnly($event)" required>
          </div>
          <div class="form-group">
            <label>Floor</label>
            <input type="number" style="background-color: rgb(193, 212, 224)" min="-2" class="form-control"
                   [(ngModel)]="changedRoom.floor"
                   [ngModelOptions]="{standalone: true}" (keypress)="numberOnly($event)" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-info"
                  (click)="changeRoomSave()">Done
          </button>
          <button type="button" class="btn btn-info" (click)="closeChangeRoomModal()"><i
            class="fa fa-close"></i>Close
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal" [ngStyle]="{'display':displayAdd}" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color: rgb(122, 154, 198)">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeAddRoomModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form ngNativeValidate>
        <div class="modal-body">
          <div class="form-group">
            <label style="text-align: left">Hotel <i class="fa fa-building-o"></i></label>
            <select style="background-color: rgb(193, 212, 224)" class="form-control" name="tipHA"
                    [(ngModel)]="newRoom.hotelId" required>
              <option style="background-color: rgb(193, 212, 224)" *ngFor="let hotel of listOfHotels;"
                      [ngValue]="hotel.hotel_id">{{ hotel.name }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label style="text-align: left">Room type <i class="fa fa-bed"></i></label>
            <select style="background-color: rgb(193, 212, 224)" class="form-control" name="tipSA"
                    [(ngModel)]="newRoom.roomType" required>
              <option style="background-color: rgb(193, 212, 224)"
                      *ngFor="let type of listOfTypes; let itemIndex = index" [selected]="itemIndex == 0"
                      [ngValue]="type.id">{{ type.name }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label>Price per night <i class="fa fa-euro"></i></label>
            <input style="background-color: rgb(193, 212, 224)" type="number" min="1" class="form-control"
                   [(ngModel)]="newRoom.pricePerNight"
                   [ngModelOptions]="{standalone: true}" (keypress)="numberOnly($event)" required>
          </div>
          <div class="form-group">
            <label>Floor </label>
            <input style="background-color: rgb(193, 212, 224)" type="number" min="-2" class="form-control"
                   [(ngModel)]="newRoom.floor"
                   [ngModelOptions]="{standalone: true}" (keypress)="numberOnly($event)" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-info"
                  (click)="addRoom()">Done
          </button>
          <button type="button" class="btn btn-info" (click)="closeAddRoomModal()"><i
            class="fa fa-close"></i>Close
          </button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal" [ngStyle]="{'display':displayNewPrice}" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color: rgb(122, 154, 198)">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeNewPriceModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form ngNativeValidate>
        <div class="modal-body">
          <div class="form-group" style="width: 400px;margin: 5px">
            <label>Start date <i class="fa fa-calendar"></i> </label>
            <label> ( If you don't fill today's date is the default )</label>
            <input style="background-color: rgb(193, 212, 224)" type="date" class="form-control"
                   [(ngModel)]="newRoomPrice.startDate"
                   [ngModelOptions]="{standalone: true}" [min]="getToday()" id="startDate">
          </div>
          <div class="form-group" style="width: 400px;margin: 5px">
            <label>Duration of new price (days): *</label>
            <input style="background-color: rgb(193, 212, 224)" type="number" min="1" class="form-control"
                   [(ngModel)]="newRoomPrice.duration"
                   [ngModelOptions]="{standalone: true}" (keypress)="numberOnly($event)"
                   placeholder="Duration of price..."
                   required>
          </div>
          <div class="form-group" style="width: 400px;margin: 5px">
            <label>New price: *<i class="fa fa-euro"></i></label>
            <input style="background-color: rgb(193, 212, 224)" type="number" min="1" class="form-control"
                   [(ngModel)]="newRoomPrice.newPrice"
                   [ngModelOptions]="{standalone: true}" (keypress)="numberOnly($event)" placeholder="New price..."
                   required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-info"
                  (click)="addNewPrice()">Done
          </button>
          <button type="button" class="btn btn-info" (click)="closeNewPriceModal()"><i
            class="fa fa-close"></i>Close
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal" [ngStyle]="{'display':displaySale}" style="margin-top: 5cm" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color: rgb(122, 154, 198)">
      <form ngNativeValidate>
        <div class="modal-body">
          <div class="form-group" style="width: 400px;margin: 5px">
            <input type="radio" name="Discount" value="Discount"
                   (click)="setSale(true)"><label>Discount</label><br>
          </div>
          <div class="form-group" style="width: 400px;margin: 5px">
            <input type="radio" name="Regular" value="Regular"
                   (click)="setSale(false)"><label>Regular change of price</label><br>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal" [ngStyle]="{'display':displayAdditionalService}" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color: rgb(122, 154, 198)">
      <div class="modal-header">
        <button type="button" class="close" (click)="closeAdditionalServiceModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form ngNativeValidate>
        <div class="modal-body">
          <h2><b>Additional services</b></h2>
          <table class="table table-fixed table-hover">
            <thead>
            <tr>
              <th scope="col-1">Item name</th>
              <th scope="col-1">Item price</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor='let item of menuNames ; index as i'>
              <td>{{ item }}</td>
              <td>{{menuPrices[i]}}</td>
              <td><input type="checkbox" name="{{item}}" (click)="addAdditionalService(item)"></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-info" (click)="finishChoosingAdditional()">Done
          </button>
          <button type="button" class="btn btn-info" (click)="closeAdditionalServiceModal()"><i
            class="fa fa-close"></i>Close
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

